@import "./common/styles/fonts.css";
@import "./common/styles/animations.css";
@import "./common/styles/commonClasses.css";
@import "./common/styles/variables.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Gilroy, sans-serif;
  background-color: var(--bg-black);
  color: var(--text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
